{{ partial "header" .}}

  <h1 id="title"> {{ .Title }}</h1>
  {{ .Content }}

  <br>

  <big><big><big><b>Working Papers</b></big></big></big>

  <br><br>
  
  <div class="working_paper-list">
    {{ range .Pages.ByPublishDate.Reverse}}
      {{ partial "working_paper/item" .}}
    {{ end }}
  </div>

  <br>
  
  <big><big><big><b>Pre-doctoral Work</b></big></big></big>

  <br><br>

  <div class="working_paper-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      {{ partial "working_paper/item" .}}
    {{ end }}
  </div>
  

{{ partial "footer" .}}