{{ define "main" }}
{{ $page := . }}

<main class="page-main pa4" role="main">
    <!--begin header-->
    {{ if .Params.show_header }}
    {{ $header := printf "/%s/%s" .Section "header/index.md" }}
    {{ with site.GetPage $header }}
      <header class="page-header bb b--black-10 bw1 pb4 mb5 {{ if .Params.text_align_right }}tr{{ end }}">
      {{ if .Params.show_title_as_headline }}<h1 class="f5 f1-m f-headline-l fw5-ns mv4 lh-solid tracked-tight-ns db">{{ $page.Title | markdownify }}</h1>
      {{ else }}<h1 class="f2 f1-ns measure-narrow lh-title">{{ .Params.headline | markdownify }}</h1>{{ end }}
      {{ with .Content}}
        <div class="pt2 f4 lh-copy dib mw8-l">{{ . | markdownify }}</div>
      {{ end }}
      </header>
    {{ end }}
    {{ end }}
</main>
<aside class="page-sidebar" role="complementary">
  {{ if eq .FirstSection .CurrentSection }}
    {{ partial "shared/sidebar-scaffold.html" . }}
  {{ else }}
    {{ partial "shared/sidebar/sidebar-image.html" . }}
    {{ partial "shared/section-sidebar.html" . }}
  {{ end }}
</aside>
{{ end }}